/* Plugin Styles */

.dpi-admin-settings-wrapper #sortable2 {
  background: #d5ecff;
}

.dpi-admin-settings-wrapper {
  display: flex;
  justify-content: space-between;
}

.dpi-admin-settings-wrapper ul.ui-sortable {
  width: 50% !important;
  background: #ffdcdc;
}

.dpi-admin-settings-wrapper #sortable1,
.dpi-admin-settings-wrapper #sortable2 {
  min-height: 28px;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  float: left;
}

.dpi-admin-settings-wrapper #sortable1 li,
.dpi-admin-settings-wrapper #sortable2 li {
  margin: 5px;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 6px;
  border: 1px solid #ddd;
  cursor: move;
}